<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TestActivity"
            android:label="雁飞的APP">
            <intent-filter>

                <!-- 声明为主活动 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 声明为程序启动器 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TowActivity">
            <intent-filter>
                <action android:name="startTowActivity" />
                <!-- 隐式的调用必须包含default category -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="myCategory" />
            </intent-filter>
        </activity>
        <activity android:name=".WebActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".TelActivity">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="dialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.layoutui.LinearLayoutUIActivity" />
        <activity android:name="com.example.layoutui.RelativeLayoutUiActivity" />
        <activity android:name="com.example.layoutui.RelativeLayoutUiTowActivity" />
        <activity android:name="com.example.layoutui.FrameUIActivity" />
        <activity android:name="com.example.layoutui.PercentFrameActivity" />
        <activity android:name="com.example.layoutui.ListViewUIActivity" />
        <activity android:name="com.example.layoutui.ListViewUITowActivity" />
        <activity android:name="com.example.layoutui.RecyclerActivity"></activity>
    </application>

</manifest>